* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: lightgray;
}

header {
  position: sticky;
  top: 0;
  z-index: 2;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: dimgrey;
  height: 100px;
  width: 100%;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}
.header__list li {
  font-size: 20px;
  font-family: Roboto;
  margin: 35px 50px;
}
.header__list li a {
  text-decoration: none;
  color: lightblue;
  position: relative;
}
.header__list li a:hover {
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header__list li a:hover::before {
  content: "";
  position: absolute;
  bottom: -6px;
  width: 100%;
  height: 1px;
  background-color: white;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  margin: 0 15%;
  -ms-grid-columns: 300px 20px 300px 20px 300px;
  grid-template-columns: repeat(3, 300px);
  -ms-grid-rows: 100px 35px 100px 35px 100px;
  grid-template-rows: repeat(3, 100px);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 35px;
}

.wrapper > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.wrapper > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.wrapper > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.wrapper > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.wrapper > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.wrapper > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.wrapper > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.wrapper > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.wrapper > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.grid-item {
  text-align: center;
  border: 2px dashed dimgray;
  font-family: Roboto;
  font-size: 18px;
  padding: 30px;
}

.grid-item1 {
  background-color: #960000;
  color: white;
  font-weight: 600;
}