* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: darkgray;
}

.navigation__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Poppins;
}
.navigation__link a {
  font-size: 20px;
  color: violet;
  text-decoration: none;
  margin: 20px 25px;
  letter-spacing: 1px;
  position: relative;
}
.navigation__link a:hover {
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.navigation__link a:hover::after {
  content: "";
  position: absolute;
  bottom: -6px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: white;
}

header {
  height: 80px;
  background-color: black;
}

.header__logo {
  position: absolute;
  left: 0;
  top: 0;
  margin: 20px 0 0 40px;
  font-size: 20px;
}
.header__logo a {
  text-decoration: none;
  color: white;
  font-family: Roboto;
}