*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}



body{
background-color:lightgray;
}


header{
  position: sticky;
  top: 0;
  z-index: 2;
}

.header__menu{
  display: flex;
  justify-content: center;
  
  background-color: dimgrey;
  height: 100px;
  width: 100%;

}



.header__list{
  display: flex;
  justify-content: center;
  list-style: none;
  


  li{
    font-size: 20px;
    font-family: Roboto;
    margin: 35px 50px;
    a{
      text-decoration: none;
      color: lightblue;
      position: relative;
      &:hover{
        color: white;
        transition: 0.2s;
        &::before{
          content: '';
          position: absolute;
          bottom: -6px;
          width: 100%;
          height: 1px;
          background-color: white;
        
        }
      }
    }
  }
}




.wrapper{
  display: grid;
  margin: 0 15%;
  grid-template-columns: repeat(3,300px);
  grid-template-rows: repeat(3, 100px);
  column-gap: 20px;
  row-gap: 35px;
}



.grid-item{
  text-align: center;
  border: 2px dashed dimgray;
  font-family: Roboto;
  font-size: 18px;
  padding: 30px;

}

.grid-item1{

  background-color: #960000;
  color: white;
  font-weight: 600;
}
















